Language: C
BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 80
PointerAlignment: Right    # int *ptr;
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements  # for, if, while
DerivePointerAlignment: false
IndentCaseLabels: false
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: None
ContinuationIndentWidth: 8
